.skills-container {
  display: flex;
  flex-direction: column;
  background: #0d1118;
  border: 1px solid #617595;
  border-radius: 20px;
  align-items: center;
  height: 580px;
  gap: 2rem;
  @media (max-width: 768px) {
    border: none;
    border-radius: 0;
  }
}
.skills-title {
  font-size: 30px;
  font-weight: 500;
  padding-top: 20px;
}
.skills-text {
  padding: 20px;
}
.skills-text-link {
  font-weight: bold;
  &:hover {
    color: #a7bcdf;
    text-decoration: underline;
  }
}
