.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin-top: 8rem;
  &-title {
    display: flex;
    flex-direction: column;
    z-index: 10;
    font-size: 1.875rem;
    max-width: 40rem;
    text-align: center;
    letter-spacing: -0.015em;
    font-weight: 500;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to bottom, #a7bcdf, #ffffff);
    display: flex;
    align-items: baseline;
    white-space: nowrap;
    @media (max-width: 768px) {
      font-size: 1rem;
      align-items: center;
      margin-top: 4rem;
    }
    @media (max-width: 1024px) {
      align-items: center;
    }
  }
  &-name {
    font-size: 5rem;
    font-weight: 100;
    font-family: "Reenie Beanie", cursive;
    @media (max-width: 768px) {
      font-size: 4rem;
    }
  }
  .profile-img {
    border-radius: 50%;
    width: 325px;
    @media (max-width: 768px) {
      width: 200px;
      margin-top: 2rem;
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
    margin-top: 4rem;
  }
}
.hero-buttons {
  display: flex;
  gap: 2rem;
  padding-left: 8.6rem;
  width: 100%;
  @media (max-width: 768px) {
    padding-left: 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  @media (max-width: 1024px) {
    padding-left: 0;
    margin-top: 2rem;
  }
}
.hero-mail-and-git {
  display: flex;
  gap: 2rem;
  @media (max-width: 768px) {
    gap: 1.5rem;
  }
}
.hero-contactBtn,
.hero-gitBtn,
.hero-cvBtn {
  background-color: #b3c9ed;
  color: #162235;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  @media (max-width: 768px) {
    font-size: 14px;
    padding: 8px 10px;
  }

  &:hover {
    background-color: #a9bfe2;
  }
}

.preview-project-section {
  margin-top: 8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-and-contact-section {
  margin-top: 8rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.skills-and-contact-section-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 8rem;
  }
}
.skills-section-part {
  width: 39%;
  @media (max-width: 768px) {
    width: 100%;
  }
}
.contact-section-part form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  overflow: auto;
  @media (max-width: 768px) {
    padding: 0.5rem;
  }
}
