.navbar {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 20px 30px;
  align-items: center;
  &-elements {
    display: flex;
    gap: 2rem;
    align-items: center;
    &-links {
      display: flex;
      gap: 2rem;
      .link {
        font-size: 18px;
      }
    }
  }
}
.nav-separateur {
  border-right: 1px solid #617595;
  height: 15px;
}
.navbar-elements-icons {
  display: flex;
  gap: 10px;
  align-items: center;
  .icon-git {
    filter: brightness(0) invert(1);
    width: 25px;
  }
  .icon-linkedin {
    filter: brightness(0) invert(1);
    width: 25px;
  }
}
