.navbar {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 8px 30px;
  align-items: center;
  border-bottom: 3px solid #3c4f6d;
  width: 100%;
  &-logo {
    width: 35px;
    filter: brightness(0) invert(1);
  }
  &-elements {
    display: flex;
    gap: 2rem;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 1rem;
    }
    &-links {
      display: flex;
      gap: 2rem;
      .link {
        font-size: 18px;
        &.active {
          text-decoration: underline;
        }
      }
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 15px;
    gap: 1rem;
  }
}
.nav-separateur {
  border-right: 1px solid #617595;
  height: 20px;
  @media (max-width: 768px) {
    display: none;
  }
}
.navbar-elements-icons {
  display: flex;
  gap: 10px;
  align-items: center;
  .icon-git {
    filter: brightness(0) invert(1);
    width: 25px;
  }
  .icon-linkedin {
    filter: brightness(0) invert(1);
    width: 25px;
  }
}
